@{
    ViewBag.Title = "Users";
}


<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Css/FrmInicio.css" rel="stylesheet" />
</head>
<body>
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h3 class="card-title text-center">Inicio Sesión</h3>
                <div class="card-text">
                    <!--
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                    <form>
                        <!-- to error: add class "has-danger" -->
                        <div class="form-group">
                            <label for="inputUsuario">Usuario</label>
                            <input type="usuario" class="form-control form-control-sm" id="inputUsuario" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control form-control-sm" id="inputPassword">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                        <div class="sign-up">
                            Registrarse! <a href="{@Html.ActionLink("Inicio", "Registrarse", "Usuario")}">Crear una Cuenta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>